:root {
  --main-lt-color: #f4d34a;
  --main-dk-color: #dd0a0a;
  --sec-lt-color: #bed5fa;
  --sec-dk-color: #0b2559;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b2559;

  background-color: var(--sec-dk-color, #0b2559);
  background: linear-gradient(
    135deg,
    var(--sec-lt-color, #bed5fa),
    var(--sec-dk-color, #0b2559)
  );
  color: var(--sec-dk-color, #0b2559);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  animation: change-background 5s infinite;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.6),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(255, 255, 0, 0.6), rgba(255, 255, 0, 0) 60%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 80%);
}

@keyframes change-background {
  0% {
    background-color: rgba(150, 0, 0, 0.5);
  }
  33% {
    background-color: rgba(175, 175, 0, 0.5);
  }
  66% {
    background-color: rgba(0, 0, 150, 0.5);
  }
  100% {
    background-color: rgba(150, 0, 0, 0.5);
  }
}

svg {
  width: 90%;
  filter: drop-shadow(5px 5px 5px var(--sec-dk-color, #0b2559));
}
@media only screen and (min-width: 768px) {
  svg {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  svg {
    width: 25%;
  }
}
#domainname {
  margin-top: 2em;
}
em {
  font-size: 140%;
}
